{% extends 'layouts/base.html' %}
{% block content %}
<div class="container is-fullhd">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h4 class="mt-3">NTU Immersion Project 2021 - Ethan & Derrick</h4>
    <hr>
    <div class="row">
        <div class="col-9">
            <div class="col-12">
                <h5 class="mb-3">Current Stock: Bitcoin</h5>
                <div class="col-12 shadow p-3 mb-3 bg-white rounded">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-3">
            <h5 class="mb-3">Stock Sentiment</h5>
            <div class="col-12 shadow p-3 mb-3 bg-white rounded">
                <h5>Twitter</h5>
                <span id="twitter-sentiment"></span>
            </div>
            <div class="col-12 shadow p-3 mb-3 bg-white rounded">
                <h5>Reddit</h5>
                <span id="reddit-sentiment"></span>
            </div>
        </div>
    </div>
    <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Sentiment</th>
          </tr>
        </thead>
        <tbody id="news_body">

        </tbody>
      </table>
</div>

<script>
    fetch(`${window.location.origin}/twitter-sentiment?ticker=BTC`)
        .then(response => response.json())
        .then(data => {
            console.log
            $("#twitter-sentiment").html(`${data["sentiment"].toFixed(2)}%`)
        });

    fetch(`${window.location.origin}/stock-prediction`)
        .then(response => response.json())
        .then(data => {
            new Chart(document.getElementById("myChart"), {
                type: 'line',
                data: {
                    labels: data["labels"],
                    datasets: [{
                        data: data["predicted_prices"],
                        label: "Predicted Prices",
                        borderColor: "red",
                        fill: false
                    }, {
                        data: data["actual_prices"],
                        label: "Actual Prices",
                        borderColor: "blue",
                        fill: false
                    }
                    ]
                },
            });
        });

    fetch(`${window.location.origin}/reddit-sentiment?ticker=BTC`)
        .then(response => response.json())
        .then(data => {
           console.log
            $("#reddit-sentiment").html(`${data["sentiment"]}`)
        });
    fetch(`${window.location.origin}/news-sentiment?ticker=BTC`)
        .then(response => response.json())
        .then(data => {
            
            $("#news_body").html("") // Clearing news body
            res = data["news"]
            console.log(res)
            for(var i = 0; i < res["Title"].length;i++)
            {
                $("#news_body").append(`
                <tr>
                    <td>${i + 1}</td>
                    <td>${res["Title"][i]}</td>
                    <td>${res["Sentiment"][i]}</td>
                </tr>`)
            }
        
        });    

</script>


<style>
    .container {
        flex-grow: 1;
        margin: 0 auto;
        position: relative;
        width: auto;
    }

    @media screen and (min-width: 1216px) {
        .container:not(.is-max-desktop) {
            max-width: 1152px;
        }
    }

    @media screen and (min-width: 1408px) {
        .container:not(.is-max-desktop):not(.is-max-widescreen) {
            max-width: 1344px;
        }
    }
</style>
{% endblock content %}