{
    "Reddit": {
        "client_id":"SI8pN3DSbt0zor",
        "client_secret":"xaxkj7HNh8kwg8e5t4m6KvSrbTI",
        "password":"1guiwevlfo00esyy",
        "user_agent":"testscript by u/fakebot3",
        "username":"fakebot3"
    },
    "SenticNet": {
        "Concept_Parsing": "W232JFASFBegegjoeg92",
        "Subjectivity_Detection": "RW2Begegjoeg92",
        "Polarity_Classification": "rA32JFASFeg92wy"
    },
    "StockNews":{
        "Stock_TOKEN":"1a79a4d60de6718e8e5b326e338ae533"
    }
}